/*
    Developer: Mahsa Aarabi
*/

/* ========= */
/* Font Face Sources */
/* ========= */

@font-face {
  font-family: "Vazir";
  src: url("../../fount/vazir-font-v16.1.0/vazir-font-v16.1.0/Vazir.ttf")
      format("truetype"),
    url("../../fount/vazir-font-v16.1.0/vazir-font-v16.1.0/Vazir.eot")
      format("eot"),
    url("../../fount/vazir-font-v16.1.0/vazir-font-v16.1.0/Vazir.woff")
      format("woff"),
    url("../../fount/vazir-font-v16.1.0/vazir-font-v16.1.0/Vazir.woff2")
      format("woff2");
}

/* ========= */
/* Root Structure  */
/* ========= */
:root,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Vazir";
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  margin-inline: auto;
  width: 80%;
}
#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background: #a4e40a;
  background: linear-gradient(270deg, #a4e40a, #7ab762);
}
#header .main-header {
  width: 100%;
  padding-block: 1rem;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
#header .logo {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-left: 10px;
}
#header .logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#header .search {
  width: 100%;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  overflow: hidden;
}
#header .search input {
  width: 100%;
  padding: 21px;
  outline: none;
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-family: "Vazir", sans-serif;
}
#header .search .btn {
  position: absolute;
  border: 0;
  top: 0%;
  left: 0%;
  width: 70px;
  height: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: aliceblue;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#header .search .btn:hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: rgb(230, 230, 230);
}
#header .search .btn i {
  font-size: 30px;
}
/*end header*/
#slider {
  margin-top: 3rem;
}
.slider .main-slider {
  width: 100%;
  height: 400px;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
}
.slider .main-slider .swiper-button-prev,
.slider .main-slider .swiper-button-next {
  background-color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -ms-border-radius: 50% 50% 50% 50%;
  -o-border-radius: 50% 50% 50% 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.slider .main-slider .swiper-button-prev:hover,
.slider .main-slider .swiper-button-next:hover {
  background-color: #ffffff;
}

.slider .main-slider .swiper-button-prev::after,
.slider .main-slider .swiper-button-next::after {
  font-size: 1.5rem;
  color: #3c4ff3;
}
#slider .main-slider .swiper-button-prev:hover::after,
#slider .main-slider .swiper-button-next:hover::after {
  color: #3c4ff3;
}
#category {
  margin-top: 3rem;
}
.title {
  text-align: center;
  font-size: 2.5rem;
}
#category .graid-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}
#category .graid-item li {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0rem 5px 1rem rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
#category .grid-item li a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 1rem;
}
img {
  width: 200px;
  height: 200px;
}
