/*
    Developer: Mahsa Aarabi
*/

/* ========= */
/* Font Face Sources */
/* ========= */

@font-face {
  font-family: "Vazir";
  src: url("../../fount/vazir-font-v16.1.0/vazir-font-v16.1.0/Vazir.ttf")
      format("truetype"),
    url("../../fount/vazir-font-v16.1.0/vazir-font-v16.1.0/Vazir.eot")
      format("eot"),
    url("../../fount/vazir-font-v16.1.0/vazir-font-v16.1.0/Vazir.woff")
      format("woff"),
    url("../../fount/vazir-font-v16.1.0/vazir-font-v16.1.0/Vazir.woff2")
      format("woff2");
}

/* ========= */
/* Root Structure  */
/* ========= */
:root,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Vazir";
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  margin-inline: auto;
  width: 80%;
}
#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background: #9708cc;
  background: linear-gradient(270deg, #9708cc, #43cbff);
}
#header .main-header {
  width: 100%;
  padding-block: 1rem;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
#header .main-header .main-header-button:nth-child(3) {
  /* First element at 3 child */
  margin-right: 10px;
  border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -ms-border-radius: 0px 5px 5px 0px;
  -o-border-radius: 0px 5px 5px 0px;
  position: relative;
}
#header .main-header .main-header-button:nth-child(3)::after {
  z-index: 5;
  position: absolute;
  transform: translate(-50%, 0%);
  top: 32.5%;
  left: 0%;
  width: 20px;
  height: 20px;
  content: "";
  background-color: rgba(161, 161, 161, 0.3);
  border: 1px solid #e8e8e8;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  pointer-events: none;
}
#header .main-header .main-header-button:nth-child(4)::before {
  pointer-events: none;
  z-index: 5;
  position: absolute;
  transform: translate(50%, 0%);
  top: 32.5%;
  right: 0%;
  width: 20px;
  height: 20px;
  content: "";
  background-color: rgba(161, 161, 161, 0.3);
  border: 1px solid #e8e8e8;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-transform: translate(50%, 0%);
  -moz-transform: translate(50%, 0%);
  -ms-transform: translate(50%, 0%);
  -o-transform: translate(50%, 0%);
}
#header .main-header .main-header-button:nth-child(4) {
  position: relative;
  /* Second element at 4 child */
  border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -ms-border-radius: 5px 0px 0px 5px;
  -o-border-radius: 5px 0px 0px 5px;
}
#header .main-header .main-header-button {
  display: flex;
  font-family: "Vazir", sans-serif;
  font-size: 18px;
  border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border: 0px solid transparent;
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 0px 0.3px rgba(230, 230, 230, 0.3);
  padding: 15px;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: 0.4s ease-in;
  -webkit-transition: 0.4s ease-in;
  -moz-transition: 0.4s ease-in;
  -ms-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
}
#header .main-header .main-header-button:hover {
  transition: 0.4s ease-out;
  cursor: pointer;
  filter: brightness(95%);
  -webkit-filter: brightness(95%);
  -webkit-transition: 0.4s ease-out;
  -moz-transition: 0.4s ease-out;
  -ms-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
}
#header .main-header .main-header-button i {
  margin-left: 5px;
}
#header .logo {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-left: 10px;
}
#header .logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#header .search {
  width: 100%;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  overflow: hidden;
}
#header .search input {
  width: 100%;
  padding: 21px;
  outline: none;
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-family: "Vazir", sans-serif;
}
#header .search .btn {
  position: absolute;
  border: 0;
  top: 0%;
  left: 0%;
  width: 70px;
  height: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: aliceblue;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#header .search .btn:hover {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  background-color: rgb(230, 230, 230);
}
#header .search .btn i {
  font-size: 30px;
}
/*end header*/
#slider {
  margin-top: 3rem;
}
.slider .main-slider {
  width: 100%;
  height: 400px;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
}
.slider .main-slider .swiper-button-prev,
.slider .main-slider .swiper-button-next {
  background-color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -ms-border-radius: 50% 50% 50% 50%;
  -o-border-radius: 50% 50% 50% 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.slider .main-slider .swiper-button-prev:hover,
.slider .main-slider .swiper-button-next:hover {
  background-color: #ffffff;
}

.slider .main-slider .swiper-button-prev::after,
.slider .main-slider .swiper-button-next::after {
  font-size: 1.5rem;
  color: #3c4ff3;
}
#slider .main-slider .swiper-button-prev:hover::after,
#slider .main-slider .swiper-button-next:hover::after {
  color: #3c4ff3;
}
#category {
  margin-top: 3rem;
}
.title {
  text-align: right;
  margin-top: 0px;
  font-size: 2.5rem;
}
.title > h1 {
  font-weight: bold;
  text-shadow: 0px 0px 1.3px #000;
}
#category .grid-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
  gap: 2rem;
  position: relative;
}
@media screen and (max-width: 1268px) {
  .title {
    transition: 0.4s;
    text-align: center;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }
  .grid-item {
    transition: 0.4s;
    display: grid;
    justify-items: center;
    justify-content: center;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }
  #category .grid-item {
    transition: 0.4s;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }
}
#category .grid-item li {
  width: 250px;
  height: 250px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-top: 2px solid rgb(248, 24, 24);
  border-left: 2px solid #499dda;
  border-bottom: 2px solid #49da85;
  border-right: 2px solid #b649da;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}
#category .grid-item li a {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-block: 1rem;
  margin-top: 20px;
  color: #292929;
}
#category .grid-item li a:hover h3 {
  display: block;
}
#category .grid-item li a h3 {
  padding: 10px;
  background-color: rgb(250, 250, 250);
  color: #000000;
  display: none;
  position: absolute;
  top: 110px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#category .grid-item li a img {
  width: 200px;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
img {
  width: 100%;
  height: 100%;
}

/* styling product slider */

#product-slider {
  margin-top: 3rem;
  background-color: rgb(224, 170, 219);
}

#product-slider .product-slider {
  padding-block: 1.5rem;
}

#product-slider .product-slider .title {
  margin-bottom: 1rem;
}

#product-slider .product-slider .title h1 {
  font-size: 3rem;
  color: white;
}

#product-slider .product-slider .product-swiper {
  width: 100%;
}

#product-slider .product-slider .product-swiper .item {
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#product-slider .product-slider .product-swiper .item:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

#product-slider .product-slider .product-swiper {
  width: 100%;
  display: flex;
}

#product-slider .product-slider .product-swiper .swiper-wrapper {
  display: flex;
  width: 100%;
}

#product-slider .product-slider .product-swiper .swiper-slide {
  flex-shrink: 0 !important;
}

#product-slider .product-slider .product-swiper .swiper-slide:last-child {
  margin-block: auto;
}

#product-slider .product-slider .product-swiper .swiper-slide:last-child .item {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#product-slider
  .product-slider
  .product-swiper
  .swiper-slide:last-child
  .item
  i {
  font-size: 1.5rem;
}

#product-slider .product-slider .product-swiper .item .img {
  width: 15rem;
}

#product-slider .product-slider .product-swiper .item .img img {
  width: 100%;
  object-fit: cover;
}

#product-slider .product-slider .product-swiper .item h3 {
  width: 100%;
  text-align: center;
  margin-block: 1rem;
  height: 2rem;
  overflow: hidden;
  font: 1.8rem;
}

#product-slider .product-slider .product-swiper .item .price {
  width: 100%;
  font-size: 1.2rem;
}

#product-slider .product-slider .product-swiper .item .price del span,
#product-slider .product-slider .product-swiper .item .price p span {
  color: grey;
}

#product-slider .product-slider .product-swiper .item .price p {
  margin-top: 5px;
  color: var(block);
}

#product-slider .product-slider .product-swiper .item button {
  padding: 1rem;
  background-color: red;
  outline: none;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

#product-slider .product-slider .product-swiper .item button i {
  color: black;
  font-size: 1.5rem;
}

.most-sells,
.most-sells button {
  background-color: #ffda85 !important;
}

.daily-sells,
.daily-sells button {
  background-color: #68e0a6 !important;
}

/* styling product slider */

/* navigation bottom */

.nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px) !important;
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-bottom .main-nav-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-bottom .main-nav-bottom .item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-bottom .main-nav-bottom .item i {
  font-size: 1.5rem;
}

.nav-bottom .main-nav-bottom .item p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.nav-bottom .main-nav-bottom .item.count-box {
  position: relative;
}

.nav-bottom .main-nav-bottom .item.count-box::before {
  content: "1";
  position: absolute;
  top: -0.5rem;
  right: 0.5rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

/* navigation bottom */
footer {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px !important;
  background-color: #b2dfdb;
  width: 100%;
  padding: 20px 10px 19px 10px;
}


