body {
  margin: 0px;
  padding: 0px;
  border: 0px solid transparent;
}
@font-face {
  font-family: "Vazir";
  src: url("../../fount/Vazir-font-v16.1.0/Vazir-font-v16.1.0/Vazir.ttf")
      format("truetype"),
    url("../../fount/Vazir-font-v16.1.0/Vazir-font-v16.1.0/Vazir.eot")
      format("eot"),
    url("../../fount/Vazir-font-v16.1.0/Vazir-font-v16.1.0/Vazir.woff")
      format("woff"),
    url("../../fount/Vazir-font-v16.1.0/Vazir-font-v16.1.0/Vazir.woff2")
      format("woff2");
}
* {
  font-family: "Vazir";
}
.header_one {
  width: 100%;
  height: auto;
  background-color: #865bfb;
}
.container {
  width: 1920px;
  max-width: 100%;
}
.divv {
  margin-left: 10%;
  margin-right: 10%;
}
div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.div_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 20px;
}
.new {
  display: flex;
}
.div_2 {
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.div_3 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
input {
  outline: none;
  font-family: "Vazir", sans-serif;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  margin-bottom: 3px;
  border: 0 solid transparent;
  padding: 10px;
}
form {
  width: 90%;
  /* margin-bottom: 10px; */
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  /* padding: 10px; */
  flex-direction: row;
  border-radius: 10px;
  /* padding-bottom: 10px; */
}
.last_div {
  padding-bottom: 10px;
}
button {
  border: 0 solid transparent;
  margin-left: 10px;
  background-color: transparent;
}
p {
  color: white;
  font-family: "Vasir", sans-serif;
}
button i {
  color: white;
}
.last_div i {
  padding: 10px;
}
/*end header*/
section {
  width: 40%;
  border: 2px solid #e8e8e8;
  border-radius: 10px;
}
section ul > li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.profile {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  border-bottom: 1.7px solid #e8e8e8;
}

.profile-items {
  margin: 0px;
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}
.profile-items li {
  width: 100%;
  margin: 0px 10px 0px 10px;
  padding: 0px;
}
.profile-items li h4 {
  margin: 10px 0px 10px 0px;
}
#bx-user {
  color: red;
}
#dashbord {
  color: red;
}
.too {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #e8e8e8;
  border-left: 0px;
  border-right: 0px;
  color: #9198a4;
}
.too > div {
  width: 50%;
  padding: 10px 0px 10px 0px;
}
.too > div:nth-child(2) {
  border-right: 1.7px solid #e8e8e8;
}
.first {
  border: 1.9px solid #e8e8e8;
  width: 50%;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.vivo {
  display: flex;
  width: 100%;
  margin: 20px 0px 20px 0px;
  align-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
.mewww {
  width: 30%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.ooo {
  color: black !important;
  padding-bottom: 10px;
}

.eee {
  padding: 10px 0px 10px 0px;
  border-bottom: 1.7px solid #e8e8e8;
  color: #9198a4;
}
.ddd {
  padding: 10px 0px 10px 0px;
  color: #9198a4;
}
#yy {
  float: left;
  margin-top: 2px;
}
footer {
  background-color: #865bfb;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
