body {
  margin: 0px;
  padding: 0px;
  border: 0px solid transparent;
}

@font-face {
  font-family: "Vazir";
  src: url("../../fount/Vazir-font-v16.1.0/Vazir-font-v16.1.0/Vazir.ttf")
      format("truetype"),
    url("../../fount/Vazir-font-v16.1.0/Vazir-font-v16.1.0/Vazir.eot")
      format("eot"),
    url("../../fount/Vazir-font-v16.1.0/Vazir-font-v16.1.0/Vazir.woff")
      format("woff"),
    url("../../fount/Vazir-font-v16.1.0/Vazir-font-v16.1.0/Vazir.woff2")
      format("woff2");
}

* {
  font-family: "Vazir";
}

.header_one {
  width: 100%;
  height: auto;
  background-color: #865bfb;
}

.container {
  width: 1920px;
  max-width: 100%;
}

.divv {
  margin-left: 10%;
  margin-right: 10%;
}

div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.div_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 20px;
}

.new {
  display: flex;
}

.div_2 {
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.div_3 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

input {
  outline: none;
  font-family: "Vazir", sans-serif;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  margin-bottom: 3px;
  border: 0 solid transparent;
  padding: 10px;
}

form {
  width: 90%;
  /* margin-bottom: 10px; */
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  /* padding: 10px; */
  flex-direction: row;
  border-radius: 10px;
  /* padding-bottom: 10px; */
}

.last_div {
  padding-bottom: 10px;
}

button {
  border: 0 solid transparent;
  margin-left: 10px;
  background-color: transparent;
}

p {
  color: white;
  font-family: "Vasir", sans-serif;
}

button i {
  color: white;
}

.last_div i {
  padding: 10px;
}

.f {
  width: 30%;
  border: 2px solid gray;
  border-radius: 10px;
  height: auto;
}

.first {
  border-bottom: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
}
.first i {
  color: red;
}
ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}
ul > li {
  display: flex;
  align-items: center;
}
li:nth-child(2) {
  color: red;
}
section {
  display: flex;
  justify-content: space-around;
}
